* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #37393d;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.wrapper::before {
  content: "";
  position: absolute;
  left: calc(100vw - 300px);
  top: -300px;
  width: 600px;
  height: 600px;
  background-color: #8A359C;
  border-radius: 50%;
  z-index: -1;
}

.wrapper::after {
  content: "";
  width: 600px;
  height: 600px;
  z-index: -1;
  position: absolute;
  top: 150px;
  left: -400px;
  background-color: #8A359C;
  border-radius: 50%;
}

/* header */
.header {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}

.header__slogan {
  font-size: 90px;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.header__motto {
  font-size: 30px;
  color: #ffd438;
  letter-spacing: 1px;
}

/* Input ToDo */
.form {
  text-align: center;
}

.form__input {
  text-align: center;
  font-size: 25px;
  padding: 7px 15px;
  border: 2px solid #ffd438;
  border-radius: 10px;
  background-color: rgba(139, 183, 255, 0.8);
  font-weight: 800;
}

.form__input--new-task {
  margin: 0px 20px 20px 0px;
}

.form__input--submit {
  color: #000;
  font-weight: 500;
  background-color: #008000;
  border-color: #000;
  padding: 7px 18px;
  margin-bottom:20px;
}

.message{
  display:flex;
  justify-content: center;
  font-size:20px;
  font-weight: 600;
  margin-top:20px;
}

.message--added{
  color:#7CFC00;
}

.message--add-task-again{
  color:#FE0000;
}

.message--done{
  color:#FFD700;
}

/* Tasks Lists */
.boards {
  display: flex;
  padding: 20px 50px 50px 50px;
}

.list {
  font-size: 20px;
  border-bottom: 2px solid #ffd438;
  padding-bottom: 5px;
  margin-bottom: 20px;
  flex-basis: 50%;
  padding: 30px 40px;
  border-radius: 0px 50px;
  background-color: #1d96ff;
}

.list:first-child {
  margin-right: 40px;
}

.list__task {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 25px;
  height: 40px;
  padding: 0px 20px;
  margin-bottom: 2px;
}

.list__task:nth-child(even) {
  background-color: #64a6ff;
}
.list__task:nth-child(odd) {
  background-color: #8bb7ff;
}

.list__task-name {
  display: flex;
  flex-basis: 80%;
}

.btn {
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  color: #000;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
}
.btn--delete {
  background-color: red;
}
.btn--done {
  background-color: green;
  margin-left: 15px;
}

@media (max-width:1024px) { 
  .list:first-child {
    margin-right: 0px;
  }

  .boards {  
    flex-direction: column;
  } 
}