$primary-color: #e19720;
$primary-color--light: #fad61d;
$secondary-color: #811e09;
$secondary-color--light: #f62d14;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;

  &__title {
    font-size: 45px;
    color: $secondary-color;

    &--primary {
      color: $primary-color;
    }
  }

  &__search {
    border: 0;
    border-bottom: 3px solid $secondary-color--light;
    width: 300px;
    padding: 8px 10px;
    font-size: 20px;
    outline: 0;

    &:focus {
      border-bottom: 3px solid $primary-color--light;
    }
  }
}

.board {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}

.card {
  width: 250px;
  margin-top: 30px;
  cursor: pointer;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.card__img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.card__data {
  &--weight {
    font-weight: 600;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 150px;
}
.footer__button {
  font-size: 25px;
  color: white;
  background-color: $primary-color;
  padding: 10px 20px;
  width: 250px;
  height: 80px;
  text-align: center;
  border: 3px solid $primary-color;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $primary-color;
  }
}

.dots {
  position: relative;
  width: 115px;
  height: 25px;
}

.dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
  margin-right: 20px;
  animation-name: resize;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:last-child {
    margin-right: 0;
  }

  &--one {
    left: 25%;
    transform: translate(-50%, -50%);
  }

  &--two {
    left: 50%;
      transform: translate(-50%, -50%);
    background-color: $primary-color--light;
    animation-delay: 0.5s;
  }

  &--three {
    left:75%;
    transform: translate(-50%, -50%);
    animation-delay: 1s;
  }
}

.hide{
    display: none;
}

@keyframes resize {
  0% {
    height: 25px;
    width: 25px;
  }
  50% {
    height: 0px;
    width: 0px;
  }
  100% {
    height: 25px;
    width: 25px;
  }
}
